* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
}
.container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,

    rgb(0, 89, 255) 100%,
    rgba(9, 9, 121, 1) 35%
  );
  height: 100vh;
}

/* Time display styling */
.App {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,

    rgb(0, 89, 255) 100%,
    rgba(9, 9, 121, 1) 35%
  );
  width: 40%;
  height: 92vh;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}
@media screen and (max-width: 576px) {
  .App {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 800px) {
  .App {
    width: 80%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .App {
    width: 55%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1098px) {
  .App {
    width: 55%;
  }
}
.time-display {
  background: #fff;
  width: 60%;
  height: 13vh;
  margin: 1rem auto;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.time-display h1 {
  font-size: 50px;
  font-weight: 800;
}
.time-display h1 b {
  padding-left: 10px;
}
@media screen and (min-width: 310px) and (max-width: 440px) {
  .time-display {
    width: 85%;
    height: 13vh;
  }
}

/* Laps conponent Styling */
.laps-container {
  height: calc(100vh - 350px);
  overflow-y: auto;
  padding-top: 2rem;
  margin-bottom: 0;
  color: #fff;
  margin: 0 auto;
}
@media screen and (min-width: 310px) and (max-width: 440px) {
  .laps-container {
    padding-top: 0.4rem;
  }
}

.header-cell {
  border-bottom: 1px solid red;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 310px) and (max-width: 440px) {
  .header-cell {
    width: 75%;
    gap: 4rem;
  }
}
@media screen and (min-width: 410px) and (max-width: 473px) {
  .header-cell {
    width: 75%;
    gap: 6rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 700px) {
  .header-cell {
    width: 75%;
    gap: 7rem;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .header-cell {
    width: 75%;
    gap: 8rem;
  }
}

.lap-times {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px 0rem;
  text-align: center;
}

/* Button component styling */
.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  text-align: center;
  padding-top: 350px;
  position: absolute; /* Position buttons absolute */
  bottom: 0;
  width: 100%;
}
.start-stop-btn button,
.reset-btn button {
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.reset-btn button {
  background: none;
}
.reset-btn button .icon {
  color: black;
  width: 35px;
  height: 40px;
  font-weight: 900;
  color: #fff;
  font-weight: 900;
}
.start-stop-btn button {
  background: gold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.start-stop-btn button .icon {
  width: 25px;
  height: 25px;
}
